.container {
   display: grid;
   grid-template-columns: repeat(16, 20px);
   grid-template-rows: repeat(16, 20px);
   grid-column-gap: 0px;
   grid-row-gap: 0px;
}

.row {
 background: #ce8888;
 border: thin solid #000000;
}

.col {
 background: #ce8888;
 border: thin solid #000000;
}
